{{define "title"}}Hardpass | App: {{.Password.App}}{{end}} {{define "main"}}
{{with .Password}}
<div class="card">
  <div class="card-header">Profile</div>
  <div class="card-body">
    <h5
      class="card-title bg-success bg-opacity-10 rounded-start rounded-end p-2 mb-2"
    >
      {{.App}}
    </h5>
    <p class="card-text">{{.Password}}</p>
    <span class="badge text-bg-info"
      >Created: {{formattedDate .Created_At}}</span
    >
    <span class="badge text-bg-warning"
      >Last Cycled: {{formattedDate .Updated_At}}</span
    >
  </div>
</div>
{{end}} {{end}}
